/*============    ШРИФТЫ    ===========*/

@font-face {
    font-family: 'calibri';
    src: url('fonts/calibri.eot');
    src: url('fonts/calibri.eot') format('embedded-opentype'),
         url('fonts/calibri.woff2') format('woff2'),
         url('fonts/calibri.woff') format('woff'),
         url('fonts/calibri.ttf') format('truetype'),
         url('fonts/calibri.svg#calibri') format('svg');
}

/*========= Class of font-family ==========*/
.calibri{
	font-family: 'calibri';
}

/*========= Link ==========*/
a:hover,
a:focus,
a:active,
a:visited,
button:hover,
button:focus,
button:active,
button:visited,
{
	text-decoration: none;
}


ul.list-inline a {display: inline-block}


body{
	
	 height: 100%;
	 width: 100%;
     padding-right: 0;
     margin-left: 0px;
     margin-right: 0px; 
}
.row{
    margin-right: 0px;
    margin-left: 0px;
}
/*============    	АДАПТИВ    ===========*/

@media(min-width:0px) and (max-width:320px) {
	
}

@media(min-width:321px) and (max-width:480px) {
	
}

@media(min-width:481px) and (max-width:768px) {
	
}

@media(min-width:769px) and (max-width:992px) {
	
}

@media(min-width:993px) and (max-width:1200px) {
	
}



