/*============    ШРИФТЫ    ===========*/


/*========= Class of font-family ==========*/


/@font-face {
    font-family: 'HelveticaNeueCyrMediumItalic';
    src: url('fonts/HelveticaNeueCyrMediumItalic.eot');
    src: url('fonts/HelveticaNeueCyrMediumItalic.eot') format('embedded-opentype'),
         url('fonts/HelveticaNeueCyrMediumItalic.woff2') format('woff2'),
         url('fonts/HelveticaNeueCyrMediumItalic.woff') format('woff'),
         url('fonts/HelveticaNeueCyrMediumItalic.ttf') format('truetype'),
         url('fonts/HelveticaNeueCyrMediumItalic.svg#HelveticaNeueCyrMediumItalic') format('svg');
}

@font-face {
    font-family: '9202';
    src: url('fonts/9202.eot');
    src: url('fonts/9202.eot') format('embedded-opentype'),
         url('fonts/9202.woff2') format('woff2'),
         url('fonts/9202.woff') format('woff'),
         url('fonts/9202.ttf') format('truetype'),
         url('fonts/9202.svg#9202') format('svg');
}

@font-face {
    font-family: 'HelveticaThin';
    src: url('fonts/HelveticaThin.eot');
    src: url('fonts/HelveticaThin.eot') format('embedded-opentype'),
         url('fonts/HelveticaThin.woff2') format('woff2'),
         url('fonts/HelveticaThin.woff') format('woff'),
         url('fonts/HelveticaThin.ttf') format('truetype'),
         url('fonts/HelveticaThin.svg#HelveticaThin') format('svg');
}


.HelveticaThin{
   font-family: 'HelveticaThin';
}

.f{
    font-family: '9202';

}

.Helve{
    font-family: 'HelveticaNeueCyrMediumItalic';
}
/*========= Class of font-family ==========*/


/*========= Link ==========*/
a:hover,
a:focus,
a:active,
a:visited,
button:hover,
button:focus,
button:active,
button:visited,
{
  text-decoration: none;
}

/*========= load ==========*/
.loaderArea {
  background-color: #fff;
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
  right:0;
  bottom:0;
  z-index: 100000;
}


.loader {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  background: linear-gradient(top right, #0b0b3f, #0d0f2d); /*Standard*/
  background-color: #0b0b3f;
  border-radius: 50%;
  
  &:after {
    content: '';
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    border: 0px solid white;
    transform: translate(-50%, -50%);
    animation: loading 1000ms ease-out forwards infinite;
  }
  
}

@keyframes loading {
  0% {
    border: 0px solid white;
  }
  
  20% {
    border: 8px solid white;
    width: 0%;
    height: 0%;
  }
  
  100% {
    border: 8px solid white;
    width: 100%;
    height: 100%;
  }

}

/*=====================================*/



ul.list-inline a {display: inline-block}

  * {
  margin: 0;
  padding: 0;
  outline: 0 !important;
}
html,
{
  height: 100%;
}
.wrapper {
  position: relative;
  min-height: 100%;
}

body{
   height: 100%;
   width: 100%;
     padding-right: 0;
     margin-left: 0px;
     margin-right: 0px;
 }
.text_form{
     font-size:6vmin; 
}
.row{
    margin-right: 0px;
    margin-left: 0px;
}

nav{
  .HelveticaThin;
  letter-spacing: 2px;
  text-transform: uppercase;;
    height: 80px;
  background: #0b0b3f; /* Old Browsers */
  background: -webkit-linear-gradient(top right,#0b0b3f,#0d0f2d); /*Safari 5.1-6*/
  background: -o-linear-gradient(top right,#0b0b3f,#0d0f2d); /*Opera 11.1-12*/
  background: -moz-linear-gradient(top right,#0b0b3f,#0d0f2d); /*Fx 3.6-15*/
  background: linear-gradient(top right, #0b0b3f, #0d0f2d); /*Standard*/
  height: 70px;
  li{
    img{
      padding-top: 5px;
      padding-bottom: 5px;
      position: absolute;

        }
     }
  h5{

      padding-top: 20px;
      font-size:1.5vmin;
      a{
      color: #fff;
    }
     a:hover{
      color: #fff;
     }

  }
    }
    #main{
  .HelveticaThin;
  position: relative;
  min-height: 730px;
  form {
     h1{

      padding-top: 30%;
      padding-bottom: 5%;

     }
     input[name ="name"]{
      outline: none;
      background-color: #eeeeee;
      color: #434343;
      font-size: 3vmin;
      width: 300px;
      height: 40px;
      border: solid 1px #f8f9fd;
      &:hover, 
      &:focus{
        border: solid 1px #22e787;
      }
     }
     input[type="submit"]{
      margin: 5%;
      background-color: #22e787;
      border-radius: 15px;
      padding-top: 12px; 
      padding-bottom: 12px;
      padding-left: 40px;
      padding-right: 40px;
      border: solid 1px #22e787;
      font-size: 2vmin; 
      color: #fff;
       opacity: 0.9;
      &:hover, 
      &:focus{
        opacity: 1;
      }
     }
    }
  
    }
 
   /*== #map::after {
background: transparent;
background: -moz-linear-gradient(top, rgba(0, 50, 40, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.3)), color-stop(100%, rgba(0, 0, 0, 0.1)));
background: -webkit-linear-gradient(top, rgba(0, 50, 40, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
background: -o-linear-gradient(top, rgba(0, 50, 40, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
background: -ms-linear-gradient(top, rgba(0, 50, 40, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
background: linear-gradient(to bottom, rgba(0, 50, 40, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
content: "";
display: block;
height: 100%;
left: 0;
position: absolute;
top: 0;
width: 100%;
} ==*/



    #map {
  position: relative;
  min-height: 730px;
   }

  #contacts {
  .HelveticaThin;
     font-size: 1.5vmin; 
    color: #a3a3a3;
    height: 20px;
    background: #131313; /* Old Browsers */
    background: -webkit-linear-gradient(top right,#131313,#1d1e20); /*Safari 5.1-6*/
    background: -o-linear-gradient(top right,#131313,#1d1e20); /*Opera 11.1-12*/
    background: -moz-linear-gradient(top right,#131313,#1d1e20); /*Fx 3.6-15*/
    background: linear-gradient(top right, #131313, #1d1e20); /*Standard*/
  }  
footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 20px;
  p{
    margin: 0;
    padding: 0;
  }
}


/*============      АДАПТИВ    ===========*/

@media(min-width:0px) and (max-width:320px) {
  nav{
    height: 30px;
  }
  #main{
    height: 230px;
    }
    #map {
    height: 230px;
    }
     #contacts {
    height: 10px;
    }
}

@media(min-width:321px) and (max-width:480px) {
  
}

@media(min-width:481px) and (max-width:768px) {
  
}

@media(min-width:769px) and (max-width:992px) {
  
}

@media(min-width:993px) and (max-width:1200px) {
  
}

